<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>flex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="app-wrap">
  <header class="app-header">
    <a href="" class="button">
      <i class="fa fa-user"></i>
      关于
    </a>
    <h1>没有回忆的海洋</h1>
    <a href="index.html" class="button">
      <i class="fa fa-diamond"></i>
      更多
    </a>
  </header>
  <section class="sidebar">
    <h2>Another RayJune</h2>
    <a href="index.html">
      <i class="fa fa-home"></i>
        主页
    </a>
    <a href="no-memory-ocean.html">
      <i class="fa fa-book"></i>
        文章
    </a>
    <a href="index.html">
      <i class="fa fa-diamond"></i>
        作品
    </a>
    <a href="about.html">
      <i class="fa fa-user"></i>
        关于
    </a>
  </section>
  <div class="content">

    <%= contents %>

  </div>
  <div class="app-footer">
    <a href="about.html">
      <i class="fa fa-arrow-left"></i>
      下一篇
    </a>
    <a href="no-memory-ocean.html">
      <i class="fa fa-home"></i>
      主页
    </a>
    <a href="index.html">
      <i class="fa fa-arrow-right"></i>
      上一篇
    </a>
  </div>
</body>
</html>
